:root {
  --background-color: rgba(1, 29, 51, 0.5);
  --dark-background-color: #000C1C;
  --min-height: 100vh;
}

.home, .projcets {
  min-height: var(--min-height);
  background-image: url('../imgs/background.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about, .contact {
  min-height: var(--min-height);
  background-color: var(--dark-background-color);
}

.card, .about-container, .container-contact {
  background-color: var(--background-color);
}

.about-container {
  width: 80%;
}

.container-contact {
  width: 90%; 
}

@media (min-width: 992px) { 
  .container-contact {
    width: 50%;
  }
}



